<div class = 'form-wrapper' [ngClass] ='{"error-form": !contactForm.valid && contactForm.touched}'>
  <h2>Reactive forms Example</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <p>
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" formControlName="firstname">
      <span class="errorMessage" *ngIf = "contactForm.get('firstname')?.errors?.required">First Name is Mandatory</span>
      <span class="errorMessage" *ngIf = "contactForm.get('firstname')?.errors?.minlength">Min length is 5 letters</span>

    </p>

    <p>
      <label for="lastname">Last Name </label>
      <input type="text" id="lastname" name="lastname" formControlName="lastname">
    </p>

    <p>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" formControlName="email">
      <span class="errorMessage" *ngIf = "contactForm.controls.email.touched && contactForm.get('email')?.errors?.required">Email is Mandatory</span>
      <span class="errorMessage" *ngIf = "contactForm.controls.email.touched && contactForm.controls.email.errors?.pattern">Invalid email</span>

    </p>

    <p>
      <label for="sid">SID </label>
      <input type="text" id="sid" name="sid" formControlName="sid">
      <span class="errorMessage" *ngIf = "contactForm.controls.sid.dirty && contactForm.controls.sid.errors?.invalid">Invalid SID</span>

    </p>

    <p>
      <label for="gender">Geneder </label>
      <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
      <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
    </p>

    <p>
      <label for="isMarried">Married </label>
      <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
    </p>

    <p>
      <label for="country">country </label>
      <select id="country" name="country" formControlName="country">
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          {{c.name}}
        </option>
      </select>
    </p>

    <label for="">Address</label>
    <div style="margin-left: 30px;"
    formGroupName="address">

      <div class="form-group mt-2">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" formControlName="city" >
      </div>

      <div class="form-group mt-2">
          <label for="street">Street</label>
          <input type="text" class="form-control" name="street" formControlName="street" >
      </div>

      <div class="form-group mt-2">
          <label for="pincode">Pin Code</label>
          <input type="text" class="form-control" name="pincode" formControlName="pincode">
      </div>

    </div>

    <p>
      <button type="submit" [disabled] = '!contactForm.valid'>Submit</button>
    </p>
    <p>
      <button class="ml-2" type="button" (click)= 'resetFrom()'>Rest Form</button>
    </p>

  </form>
</div>
